.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Noto Sans TC,sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.boot{
  height: 100vh;
  width:100vw;
  background-color: black;
}
.b_left{
  position: absolute;
  bottom: 0;
  right: 0;
}
.animation{
  width:400px;
  height: 25px;
  position: relative;
  border:2px solid white;
  border-radius:10px;
  background-color: black;
  position: fixed;
  margin: auto;
  left:35vw;
}
.animation_span{
  height: 20px;
  width:15px;
  position: relative;
  background-color: blue;
  color:blue;
  border-radius:2px;
  animation-name: bootanimation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: bootanimation;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
}
@keyframes bootanimation{
 0%{
    left:0px;
  }
  100%{
    left:380px;
  }
}
@-webkit-keyframes bootanimation{
 0%{
    left:0px;
  }
  100%{
    left:380px;
  }
}
.im{
  margin-top:10vh;
}
.lead{
  color:white;
  letter-spacing: 2px;
}
.startup{
  height: 100vh;
  width:100vw;
}
.startup_header{
  background-color:#003399 ;
   width:100vw;
  height:15vh;
}
.startup_middle{
  background-color: #5A7EDC;
  width: 100vw;
  height: 70vh; 
  margin:0px !important;
}
.startup_footer{
  background-color: #003399 ;
  width:100vw;
  height: 15vh;
}
.hr_header{
  position: absolute;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin-top:0px;
    display: block;
    height: 2px;
    background: linear-gradient(to right, rgb(218, 136, 74) 50%, rgb(218, 136, 74) 30%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgb(218, 136, 74) 50%, rgb(218, 136, 74) 30%, rgba(0, 0, 0, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.hr_footer{
  position: absolute;
    left: 0px;
    right: 0px;
    display: block;
    height: 2px;
    margin-top:0pc;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(218, 136, 74) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(218, 136, 74) 50%, rgba(0, 0, 0, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.a{
  width:100vh !important;
}
.desktop{
  width:100vw;
  height: 100vh;
  background-image: url('./images/des_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.taskbar{
  background:  linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
    background-image: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial; ;
  height:33px;
  position:fixed;
  bottom: 0;
  margin:0px !important;
  width: 100vw;
}
.right_corner{
position:fixed;
right:0;
text-align: left;
color:white;
padding-top: 2px;
width:130px;
height: inherit;
  background-color:#14A5F4;
}
.start_button{
  background:inherit;
  position: fixed;
  left:0;
  margin: 0px;
  padding: 0px;
  border:none;
}
.start_button:hover{
  cursor:default;
  border:none;
}
.start_button:active{
  border:none;
}
.icon_button{
  color:white;
  cursor:default;
  font-size:11px;
}
.taskbar_expanded{
  height: 530px;
  width:420px;
  background-color: rgb(66, 130, 214);;
  position: fixed;
  bottom:32px;
  left:0px;
}
.taskbar_expanded_header{
  align-items: center;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px 5px 5px;
    background: linear-gradient(rgb(24, 104, 206) 0%, rgb(14, 96, 203) 12%, rgb(14, 96, 203) 20%, rgb(17, 100, 207) 32%, rgb(22, 103, 207) 33%, rgb(27, 108, 211) 47%, rgb(30, 112, 217) 54%, rgb(36, 118, 220) 60%, rgb(41, 122, 224) 65%, rgb(52, 130, 227) 77%, rgb(55, 134, 229) 79%, rgb(66, 142, 233) 90%, rgb(71, 145, 235) 100%);
    background-image: linear-gradient(rgb(24, 104, 206) 0%, rgb(14, 96, 203) 12%, rgb(14, 96, 203) 20%, rgb(17, 100, 207) 32%, rgb(22, 103, 207) 33%, rgb(27, 108, 211) 47%, rgb(30, 112, 217) 54%, rgb(36, 118, 220) 60%, rgb(41, 122, 224) 65%, rgb(52, 130, 227) 77%, rgb(55, 134, 229) 79%, rgb(66, 142, 233) 90%, rgb(71, 145, 235) 100%);
}
.taskbar_expanded_bottom{
   color: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    background: linear-gradient(rgb(66, 130, 214) 0%, rgb(59, 133, 224) 3%, rgb(65, 138, 227) 5%, rgb(65, 138, 227) 17%, rgb(60, 135, 226) 21%, rgb(55, 134, 228) 26%, rgb(52, 130, 227) 29%, rgb(46, 126, 225) 39%, rgb(35, 116, 223) 49%, rgb(32, 114, 219) 57%, rgb(25, 110, 219) 62%, rgb(23, 107, 216) 72%, rgb(20, 104, 213) 75%, rgb(17, 101, 210) 83%, rgb(15, 97, 203) 88%);
    background-image: linear-gradient(rgb(66, 130, 214) 0%, rgb(59, 133, 224) 3%, rgb(65, 138, 227) 5%, rgb(65, 138, 227) 17%, rgb(60, 135, 226) 21%, rgb(55, 134, 228) 26%, rgb(52, 130, 227) 29%, rgb(46, 126, 225) 39%, rgb(35, 116, 223) 49%, rgb(32, 114, 219) 57%, rgb(25, 110, 219) 62%, rgb(23, 107, 216) 72%, rgb(20, 104, 213) 75%, rgb(17, 101, 210) 83%, rgb(15, 97, 203) 88%);
}
.taskbar_expanded_bottom>span:hover{
cursor: pointer;
}
.taskbar_expanded_middle{
  background-color: white;
  margin-top:2px;
  margin-left:3px !important;
  margin-right:3px !important;
  height: 430px;
} 
.taskbar_expanded_middle_right{
background-color:rgb(203, 227, 255);;
}
.seperator{
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0980392) 50%, rgba(0, 0, 0, 0) 100%) content-box;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0980392) 50%, rgba(0, 0, 0, 0) 100%);
}
.mycomputer{
  position:fixed;
  width:750px;
  top:40px;
  height:520px;
  left:300px;

  background-color: rgb(8, 49, 217); 
}
.mycomputer_header{
  width:inherit;
  height:28px;
  padding:2px;
  color:white;
      background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
    background-image: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
}
.minimize{
      box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
    background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);
    border:1px solid white;
    border-radius:3px;
    height:22px;
    width:22px;
}
.minimize:before{
      content: "";
    position: absolute;
    left: 4px;
    top: 13px;
    height: 3px;
    width: 8px;
    background-color: white;
}
.maximize{
    box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
    background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);
    border:1px solid white;
    border-radius:3px;
    height:22px;
    width:22px;
}
.maximize:before{
  content: "";
    position: absolute;
    display: block;
    top: 5px;
    box-shadow: white 0px 3px inset, white 0px 0px 0px 1px inset;
    height: 12px;
    width: 12px;
}
.header_button{
  position: absolute;
  right:0px;
}
.close{
opacity:1 !important;
margin: 0px;
}
.dialog_after_header{
      background: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
       
      height: 90px;

}
.dialog_after_header_textButtons{
  padding-top:2px;
  padding-bottom:3px;
  padding-left:8px;
  padding-right:8px;
  margin-right:5px;
  margin-left:5px;

}
.dialog_after_header_textButtons:hover{
  background-color: rgb(8, 49, 217);
  color:white;
  cursor:default;
}
.image{
  position: absolute;
  right:5px;
}
.white_span{
  background-color: white;
  padding-right:500px;
  font-size: 13px;
}
.mycomputer_main{
  margin-left:0px !important;
  margin-right:0px !important;
  height:400px;
}
.mycomputer_main_left{
  background:linear-gradient(rgb(116, 138, 255) 0%, rgb(64, 87, 211) 100%);
    background-image: linear-gradient(rgb(116, 138, 255) 0%, rgb(64, 87, 211) 100%);
    
       
    color: rgb(12, 50, 125);

}
.mycomputer_main_left_header{
  background: linear-gradient(to right, rgb(240, 240, 255) 0px, rgb(240, 240, 255) 30%, rgb(168, 188, 255) 100%);
  font-size:15px;
}
.mycomputer_main_left_body{
  font-size:12px;
  background:linear-gradient(to right, rgb(180, 200, 251) 0%, rgb(164, 185, 251) 50%, rgb(180, 200, 251) 100%) rgba(198, 211, 255, 0.870588);}

.mycomputer_main_right{
  background-color: white;
  width:inherit;

}
.dialog{
  height:100px;
}
.blue_sperator{
    background: linear-gradient(to right, rgb(112, 191, 255) 0px, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to right, rgb(112, 191, 255) 0px, rgb(255, 255, 255) 100%);
    height: 0.5px;
}
.notepad{
  position:fixed;
  width:750px;
  top:50px;
  height:520px;
  left:330px;

  background-color: rgb(8, 49, 217);  
}
.notepad_after_dialog{
  background: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
  height:23px;
}
.notepad_after_dialog>span{
  font-size:13px;
}
.text-area{
  height:465px;
}
.ie{
   position:fixed;
  width:750px;
  top:50px;
  height:520px;
  left:350px;

  background-color: rgb(8, 49, 217);  
}
.iframe{
  width:100%;
  height:100%;
}